/*
Paleta de cores
---------------
-Cabeça, Pé:#A65C41
-Corpo:#D9B596
-Fonte:#1E2621
-Seções: #F5F9ED
*/

body{
    margin: 0;
    padding: 0;
    background-color: #D9B596;
    color: #1E2621;
}

header{
    background-color: #A65C41;
    height: 100px;
    text-align: center;
}

header > h1{
    margin: 0;
    padding-top: 25px;
}

nav{
    height: 30px;
    background-color: #A65C41;
    text-align: center;
}

nav > a {
    color: #1E2621;
    margin-right: 1.5em;
    border: none;
    font-weight: bold;
    text-decoration: none
}

nav > a:hover {
    color: #e6a783d0;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

main{
    background-color: #F5F9ED;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.campo-formulario{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

input[type="text"], input[type="email"], input[type="number"]{
    padding: 0.4rem;
    border: solid 1px #1E2621;
    border-radius: 4px;
}

.btn{
    background-color: #D98555;
    transition: 0.3s;
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 3px;
}

.btn:hover{
    background-color: #e6a783d0;
}

.btn-remover{
    background-color: #d33;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-remover:hover{
    background-color: rgb(245, 87, 87);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
}

th, td{
    text-align: center;
    padding: 0.6rem;
}

th{
    background-color: #D98555;
}