<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Alunos</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <header>
        <h1>Gestão de Alunos</h1>
    </header>
    <nav>
        <a href="#">Alunos</a>
        <a href="/cursos">Cursos</a>
        <a href="/unidadescurriculares">Unidades Curriculares</a>
        <a href="/edicoes">Edições</a>
        <a href="/matriculas">Matrículas</a>
    </nav>
    <main>
        <section class="formulario">
            <h2>Adicionar Aluno</h2>
            <form th:action="@{/alunos}" method="post" th:object="${novoAluno}">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required>

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>

                <label for="idade">Idade:</label>
                <input type="number" id="idade" min="0" th:field="*{idade}" required>

                <button type="submit" class="btn">Adicionar</button>
            </form>
        </section>
        
        <hr>
        
        <section class="lista">
            <h2>Listar Alunos</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Idade</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="p, iter : ${alunos}">
                        <!-- Resultado que o Controller trouxer do Model-->
                        <td th:text="${iter.index + 1}">1</td>
                        <td th:text="${p.nome}">Nome</td>
                        <td th:text="${p.email}">Email</td>
                        <td th:text="${p.idade}">0</td>
                        <td>
                            <form th:action="@{/alunos/remover}" method="post">
                                <input type="hidden" name="id" th:value="${p.id}">
                                <button type="submit" class="btn-remover">Remover</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(alunos)}">
                        <td colspan="6">Nenhum aluno registado.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>